<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ggCSS.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='png/registericon.png') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="all">
        <div class="vs">
            <h1 class="x1">Добро пожаловать в Gptart!</h1>
        </div>

        <div class="o1">
            <h1 class="tx2">Наше приложение представляет собой удобный инструмент для автоматизации учета и управления запасами в небольших магазинах. С его помощью владельцы магазинов могут легко отслеживать количество товаров на складе, контролировать поставки и заказы, а также моментально получать информацию о текущем состоянии запасов.</h1>
        </div>
        <div class="o2">
            <h1 class="x3">Приложение позволяет вести учет по каждому товару, отслеживать его движение от поставщика до конечного потребителя. Также в программе предусмотрена возможность создания отчетов о продажах, анализе популярных товаров и определении перспективных направлений для развития бизнеса.</h1>
        </div>
        <div class="o3">
            <h1 class="x4">Благодаря нашему приложению, владельцы магазинов могут значительно упростить процессы управления запасами, повысить эффективность и точность учета, а также сократить издержки по поддержанию складского учета.</h1>
        </div>
        <div class="btn">
            <a href="{{ url_for('index') }}" class="btn1">Продолжить</a>
        </div>
    </div>
</body>
</html>
